@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color:lightgreen;
  // color: rgb(63, 63, 63);
  color: #22577a;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#app {
  text-align: center;
}

#navBar {
  background-color:oldlace;
}

#navbarNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grey-text {
  color: grey;
}

.dropdown-menu {
  margin: 0;
}

.heading {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #22577a;
}

#vocabCards {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;

  .card {
    width: 200px;
    margin: 15px;
  }
}

#form-container {
  width: 60%;
  margin: auto;

  #formModal {
    color: black;
  }
}

.card-body{
  display: flex;
  color:dimgray;
  flex-direction: column;
  background-color:oldlace;
}

.card-icons {
  display: flex;
  justify-content: space-between;
}

.book-icons {
  margin-top: auto;
}
.lock,
.logo {
  color: grey;
}

.round {
  border-radius: 50%;
}

.heart {
  color:crimson;
}

i > span,
a > i {
  pointer-events: none;
}

.definition,
.author {
  font-size: 11px;
}
