@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
}

// .navbar {
//   width: 100vw;
// }

#navbarNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dropdown-menu {
  margin: 0;
}

 #showAddCardForm{
  color: white;
}

#vocabCards {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
}

#form-container {
  width: 60%;
  margin: auto;
  justify-content: center;

  #formModal {
    color: black;
  }
}

i > span {
  pointer-events: none;
}

.definition {
  font-size: 11px;
}
